/* You can add global styles to this file, and also import other style files */
.text-center {
    text-align: center!important;
}

.text-right {
    text-align: right!important;
}

form textarea.ant-input {
    resize: none;
    overflow: hidden!important;
}